@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800&display=swap');

* {
    box-sizing: border-box;
}

:root {
    --softOrange: hsl(35, 77%, 62%);
    --softRed: hsl(5, 85%, 63%);
    --off-white: hsl(36, 100%, 99%);
    --grayish-blue: hsl(233, 8%, 79%);
    --dark-grayish-blue: hsl(236, 13%, 42%);
    --very-dark-blue: hsl(240, 100%, 5%);
}

body {
    margin: 0;
    padding: 0;
    font-size: 15px;
    font-family: 'Inter', sans-serif;
    color: var(--dark-grayish-blue);
}

/* ============================
           Typography
=============================*/

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: var(--dark-grayish-blue);
}

a:hover, a:focus,
.news h3:hover,
.news h3:focus {
    color: var(--softOrange);
}

.box-info h3:hover,
.box-info h3:focus {
    color: var(--softRed);
}

h1 {
    font-size: 3rem;
    margin: 0;
    color: var(--very-dark-blue);
}

.news h2 {
    font-size: 2rem;
    color: var(--softOrange);
}

.news h3 {
    font-size: 1.2rem;
    cursor: pointer;
}

.box-info h2 {
    margin: 0;
    font-size: 1.5rem;
}

.box-info h3 {
    font-size: 1rem;
    color: var(--very-dark-blue);
    margin-bottom: 0;
    cursor: pointer;
}

/* ============================
           Layout
=============================*/

main, header, 
.navlinks,
.hero-info ,
.footer-container,
.box {
    display: flex;
}

nav {
    width: 40%;
}

header,
main, footer {
    width: 80%;
    margin: 1em auto;
}

header, .box,
main, .hero-info,
.footer-container,
.navlinks {
    justify-content: space-between;
}

.footer-container,
.navlinks {
    align-items: center;
}

header {
    margin: 2em auto;
}

.hero-info {
    margin-top: 1em;
}

.hero {
    width: 68%;
}

.hero img {
    width: 100%;
}

.title,
.hero-p {
    width: 48%;
}

button {
    background-color: var(--softRed);
    padding: .9em 1.5em;
    text-transform: uppercase;
    color: var(--off-white);
    font-weight: 700;
    border: none;
    cursor: pointer;
}

button:hover,
button:focus {
    background-color: var(--very-dark-blue);
}

.news {
    width: 30%;
    background-color: var(--very-dark-blue);
    color: var(--off-white);
    padding: .5em 1em;
}

.new-box {
    padding-bottom: 1em;
    border-bottom: 1px solid var(--off-white);
}

.new-box:last-child {
    border-bottom: none;
}

.box {
    width: 30%;
}

.box-info {
    width: 65%;
}

.box img {
    width: 30%;
}

footer {
    margin: 3em auto 1em;
}

.footer-container {
    margin-bottom: 1em;
}

.mobileMenu,
.closeBtn,
.mobileHero-img {
    display: none;
}


/* ============================
       Media Queries
=============================*/

@media (max-width: 600px) {
    .hero-img {
        display: none;
    }

    .mobileHero-img,
    .mobileMenu {
        display: block;
    }

    .mobileMenu {
        position: absolute;
        right: 5%;
    }

    nav {
        height: 100vh;
        width: 0;
        position: fixed;
        z-index: 1;
        top: 0;
        right: 0;
        background-color: var(--off-white);
        overflow-x: hidden;
        transition: 0.5s;
    }

    .navlinks {
        align-items: flex-start;
        transition: 0.3s;
        position: absolute;
        top: 25%;
        padding: 0 2em;
        width: 100%;
        text-align: center;
    }

    .navlinks li {
        margin-bottom: 1.5em;
    }

    a {
        color: var(--very-dark-blue);
        font-size: 1.2rem;
    }

    .closeBtn {
        display: block;
        position: absolute;
        top: 6%;
        right: 8%;
    }

    main, .navlinks,
    .hero-info ,
    .footer-container {
        flex-direction: column;
    }

    main,
    header, footer {
        width: 90%;
    }

    .box, .hero,
    .title,
    .news, .hero-p {
        width: 100%;
    }

    .box,
    .hero-p {
        margin-bottom: 2em;
    }
    
    .news {
        margin: 2em 0;
    }

    header {
        align-items: center;
    }

    button {
        margin-top: 1em;
        padding: 1em;
        width: 60%;
    }
}

@media (min-width: 760px) and (max-width: 920px) {
    main,
    header, footer {
        width: 90%;
    }

    .news, 
    .box {
        width: 32%;
    }

    .hero {
        width: 64%;
    }
}